*, *:before, *:after, body, header, div, section, nav, footer, h1, h2, h3, h4, h5, h6, p {
	padding: 0;
	margin: 0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
a {
	color: #000;
	text-decoration: none;
}
ul {
	list-style-type: none;
	list-style-position: inside;
	text-decoration: none;
}
p, a, div, li, h1, h2, h3, h4, h5, h6 {
	font-family: "Roboto", sans-serif;
}
.clear {
	clear: both;
}



/* ======= FORM RESET ========= */

input,
label,
select,
button,
textarea
{
	margin:0;
	border:0;
	padding:0;
	display:inline-block;
	vertical-align:middle;
	white-space:normal;
	background:none;
	line-height:1;
}

input:focus
{
	outline:0;
}

input[type=checkbox],
input[type=radio]
{
	width:13px;
	height:13px;
}

::-webkit-search-decoration
{
	display:none;
}

::-webkit-file-upload-button
{	
	padding:0;
	border:0;
	background:none;
}
